<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="main">
        <nav class="main-nav">
            <div class="main-logo">
                <a href="#">LOGO</a>
            </div>
            <ul class="main-nav-items">
                <li class="main-nav-item"><a href="#">Home</a></li>
                <li class="main-nav-item"><a href="#">Home</a></li>
                <li class="main-nav-item"><a href="#">Home</a></li>
                <li class="main-nav-item"><a href="#">Home</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>